.App {
}
.forminput {
  display: flex;
  flex-direction: row;
  padding: auto;
}
input {
  margin: 0.5vw;
  padding: 0.5vw;
  width: 11vw;
}
.checkboxS {
  width: 0.8vw;
  margin-left: 1vw;
  margin-top: 0.8vw;
}
select {
  margin: 0.5vw;
  padding: 0.6vw;
  width: 13vw;
}
label {
  margin-left: 0.6vw;
  padding: 0.5vw;
}
.listitem:hover {
  cursor: pointer;
  background-color: blue;
}
button {
  background-color: green;
  color: white;
  font-weight: bolder;
  padding: auto;
  height: 2.5vw;
  margin-left: 2vw;
  width: 5vw;
}

.checkboxes {
  display: flex;
  flex-direction: row;
}
